
<div id="main" class="site-main">
    <section id="about" class="about-section pt-page">
        <div class="section-container">
            <!--Page Heading-->
            <div class="page-heading">
                <span class="icon"><i class="lnr lnr-user"></i></span>
                <h2>About Me.</h2>
            </div>
    
            <!-- About Info Row Start-->
            <div class="row about mb-70">
    
                <div class="col-lg-8">
                    <!--Personal Intro-->
                    <h3 class="mb-20">Software Developer</h3>
                    <p>Dolor reprehenderit aut repudiandae maiores recusandae. Consequatur dolor nisi labore commodi
                        ipsa? Excepturi velit laboriosam at voluptatibus cupiditate est vel. Dolorem praesentium itaque
                        fugiat placeat quas consequatur? Obcaecati natus rerum</p>
                    <p>Consectetur consectetur nesciunt nesciunt blanditiis amet? Quod quis unde aliquid excepturi
                        laudantium? Illo architecto aliquam velit illo magnam neque perferendis sint Incidunt eius ipsa
                        inventore labore eos velit. Minus hic magni reiciendis necessitatibus ex Quidem officia deleniti
                        accusamus obcaecati dolores. Porro culpa quibusdam impedit porro praesentium excepturi. Alias ab
                        consequatur?</p>
    
                </div>
    
                <!--Personal Info-->
                <div class="col-lg-4">
                    <div class="about-info">
                        <h3 class="mb-20">Personal Information</h3>
                        <ul>
                            <li><span class="title">Name</span><span class="value">Emil Mirzazada</span></li>
                            <li><span class="title">Age</span><span class="value">20 Years</span></li>
                            <li><span class="title">Residence</span><span class="value">Baku, Azerbaijan</span></li>
                            <li><span class="title">Address</span><span class="value">Khazar district</span></li>
                            <li><span class="title">Email</span><span class="value">mr.emilmirzazada@gmail.com</span>
                            </li>
                            <li><span class="title">Phone</span><span class="value">(+994) 51 391 7878</span></li>
                            <li><span class="title">Freelance</span><span class="value">Available</span></li>
                        </ul>
                        <div class="resume-button mt-30">
                            <a class="btn-main" href="#">Download Resume</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About Info Row End-->
    
    
            <!--Clients Row Start-->
            <div class="row clients mb-70">
                <div class="col-md-12">
                    <div class="subheading">
                        <h3>Clients</h3>
                    </div>
                </div>
    
                <div class="owl-carousel owl-theme">
    
                    <!--Client Logo-->
                    <div class="client-logo">
                        <a href="#">
                            <img src="assets/img/clients/client-01.png" alt="">
                        </a>
                    </div>
    
                    <!--Client Logo-->
                    <div class="client-logo">
                        <a href="#">
                            <img src="assets/img/clients/client-02.png" alt="">
                        </a>
                    </div>
    
                    <!--Client Logo-->
                    <div class="client-logo">
                        <a href="#">
                            <img src="assets/img/clients/client-03.png" alt="">
                        </a>
                    </div>
    
                    <!--Client Logo-->
                    <div class="client-logo">
                        <a href="#">
                            <img src="assets/img/clients/client-04.png" alt="">
                        </a>
                    </div>
    
                    <!--Client Logo-->
                    <div class="client-logo">
                        <a href="#">
                            <img src="assets/img/clients/client-05.png" alt="">
                        </a>
                    </div>
    
                    <!--Client Logo-->
                    <div class="client-logo">
                        <a href="#">
                            <img src="assets/img/clients/client-06.png" alt="">
                        </a>
                    </div>
    
                    <!--Client Logo-->
                    <div class="client-logo">
                        <a href="#">
                            <img src="assets/img/clients/client-07.png" alt="">
                        </a>
                    </div>
    
                    <!--Client Logo-->
                    <div class="client-logo">
                        <a href="#">
                            <img src="assets/img/clients/client-08.png" alt="">
                        </a>
                    </div>
    
                    <!--Client Logo-->
                    <div class="client-logo">
                        <a href="#">
                            <img src="assets/img/clients/client-09.png" alt="">
                        </a>
                    </div>
    
                </div>
            </div>
            <!--Clients Row End-->
    
            <!--Testimonials Row Start-->
            <div class="row testimonials mb-50">
                <div class="col-md-12">
                    <div class="subheading">
                        <h3>Testimonials</h3>
                    </div>
                    <div class="owl-carousel owl-theme">
    
                        <!--Testimonail Item-->
                        <div class="testimonial-item">
                            <div class="testimonial-content">
                                <p>Ipsum ab necessitatibus numquam vitae quis. Nobis nostrum deserunt suscipit eos
                                    fugit. Consectetur dolorum temporibus facilis impedit exercitationem dignissimos.
                                </p>
                            </div>
                            <div class="testimonial-meta">
                                <img src="assets/img/testimonials/author-1.jpg" alt="">
                                <div class="meta-info">
                                    <h4>Kate Fox</h4>
                                    <p>Digital Marketing Executive</p>
                                </div>
                            </div>
                        </div>
    
                        <!--Testimonail Item-->
                        <div class="testimonial-item">
                            <div class="testimonial-content">
                                <p>Ipsum ab necessitatibus numquam vitae quis. Nobis nostrum deserunt suscipit eos
                                    fugit. Consectetur dolorum temporibus facilis impedit exercitationem dignissimos.
                                </p>
                            </div>
                            <div class="testimonial-meta">
                                <img src="assets/img/testimonials/author-2.jpg" alt="">
                                <div class="meta-info">
                                    <h4>Emma Jones</h4>
                                    <p>Creative Director</p>
                                </div>
                            </div>
                        </div>
    
                        <!--Testimonail Item-->
                        <div class="testimonial-item">
                            <div class="testimonial-content">
                                <p>Ipsum ab necessitatibus numquam vitae quis. Nobis nostrum deserunt suscipit eos
                                    fugit. Consectetur dolorum temporibus facilis impedit exercitationem dignissimos.
                                </p>
                            </div>
                            <div class="testimonial-meta">
                                <img src="assets/img/testimonials/author-3.jpg" alt="">
                                <div class="meta-info">
                                    <h4>Jack Smith</h4>
                                    <p>Marketing Director</p>
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
                <!--Testimonials Row End-->
    
            </div>
        </div>
    </section>
</div>


