<div id="main" class="site-main">
    <section id="blog" class="blog-section pt-page">
        <div class="section-container">

            <!--Page Heading-->
            <div class="page-heading">
                <span class="icon"><i class="lnr lnr-book"></i></span>
                <h2>My Blogs.</h2>
            </div>

            <div class="row blogs-masonry">

                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="blog-item">
                        <div class="blog-image">
                            <img src="assets/img/blog/img-1.jpg" alt="#">
                        </div>
                        <div class="blog-content">
                            <span class="cat">Web Design</span>
                            <h4 class="blog-title">Best Way to Design</h4>
                            <div class="blog-date">August 15, 2018</div>
                        </div>
                    </a>
                </div>


            </div>
        </div>
    </section>
</div>