<div id="main" class="site-main">
    <section id="home" class="banner-section pt-page" style="background-image: url('assets/img/background/home-bg.jpg')">

        <div class="banner-content">
            <!--Banner Text-->
            <h1 class="mb-20">Emil <span>Mirzazada</span></h1>
    
            <!--Animated Text-->
            <p class="cd-headline clip is-full-width">
            <span>I am a &nbsp;</span>
            <span class="cd-words-wrapper">
                <b class="is-visible"> Software Developer</b>
                <b>Mentor</b>
                <b>CS Student</b>
            </span>
            </p>
    
        </div>
    
    </section>
</div>


